<h1>It's party time!</h1>
<form method="post" action="/create">
<!-- <label for="id">Add your Party ID here:</label>
  <input name="id" type="text" class="form-control" id="id" value="6"><br> -->
  <label for="name">Add your Party Name here:</label>
  <input name="name" type="text" class="form-control" id="name"><br>
  <label for="description">Add your Description here:</label>
  <input name="description" type="text" class="form-control" id="description"><br>
  <label for="location">Add your Party Location here:</label>
  <input name="location" type="text" class="form-control" id="location"><br>
  <button class="btn btn-info">Add this party!</button>
</form>