<div class="row">
<div class="col-md-2"></div>
  <div class="col-md-8">
  <h1 class="text-center"><%= @party.name %></h1>
    <ul class="list-group">
      <li class="list-group-item"><span class="glyphicon glyphicon-map-marker"> LOCATION:</span> <%= @party.location %></li>
      <li class="list-group-item"><span class="glyphicon glyphicon-book"> DESCRIPTION:</span> <%= @party.description %></li>
      <li class="list-group-item"><span class="glyphicon glyphicon-calendar"> DATE:</span> <%= @party.date %></li>
    </ul>
    <hr>
  <div class="col-md-2">
  </div>
</div>