<div class="row">
<div class="col-md-2"></div>
  <div class="col-md-8">
  <h1 class="text-center"><%= @product.name %></h1>
    <p><%= @product.price %> by <%= @product.brand %></p>
    <hr>
    <a href="/">Go back</a>
    </div>
  <div class="col-md-2"></div>
</div>